body {
          height: 100%;
}
header {
          margin-top: -120px;
}
section {
          margin-top: 120px;
}
#reset_pw, #reset_pw_check {
          width: 100%;
          border: none;
          border-bottom:1px solid rgb(152, 39, 152);
          outline: none;
          font-size: 16px;
          line-height: 25px;
}
#reset_pw {
          margin-top: 50px;
}
#reset_pw_check {
          margin-top: 20px;
}